<div class="card-container">
  <h1>Add/Edit Course</h1>
  <hr>
  <div>
      <span>
         <a [routerLink]=" ['./courses'] ">Courses</a>
      </span>
      <span *ngIf="!isEditMode">
          - New Course
      </span>
      <span *ngIf="isEditMode">
          - {{ editCourseName }}
      </span>
  </div>
  <hr>
  <div>
      <form [formGroup]="courseForm" novalidate (ngSubmit)="save()">
          <div class="form-group">
              <label>Name</label>
              <input class="form-control" name="courseName" formControlName="courseName" />

              <span *ngIf="this.submitted && courseForm.controls['courseName'].invalid">
                  Required
              </span>
          </div>
          <div class="form-group">
              <label>Description</label>
              <input class="form-control" name="courseDescription" formControlName="courseDescription" />

              <span *ngIf="this.submitted && courseForm.controls['courseDescription'].invalid">
                  Required
              </span>
          </div>
          <div class="form-group">
              <label>Duration</label>
              <input class="form-control" type="number" name="courseDuration" formControlName="courseDuration" />

              <span *ngIf="courseForm.controls['courseDuration'].valid">
                {{ courseForm.controls['courseDuration'].value | duration}}
              </span>

              <span *ngIf="this.submitted && courseForm.controls['courseDuration'].invalid">
                  Required
              </span>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
          </div>
      </form>
  </div>
</div>
