<nav>
    <span *ngIf="isLoggedIn">
        <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]=" ['./courses'] ">
        Courses
        </a>
    </span>
    <span class="logout-link" *ngIf="isLoggedIn">
        <a (click)="logOut()" [routerLink]=" ['./login'] ">
        Logout
        </a>
    </span>
</nav>
<main>
    <router-outlet></router-outlet>
    <hr/>
    <div *ngIf="isLoggedIn">Login Count: {{ loginCounter | async }} <button type="button" class="btn btn-default" (click)="resetLoginCounter()">Set to 0</button></div>
</main>
<footer></footer>