html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

div.card-container {
    margin: 20px;
}

nav {
    background-color: #f5f5f5;
    margin: 12px;
}

nav span {
    margin: 6px;
}

span.validation-error {
    color: #d9534f;
}

input[type=text].validation-error,
input[type=password].validation-error {
    border: 1px solid #d9534f;
}

span.logout-link {
    margin-left: 25px;
}

a.active-link {
    font-weight: bold;
}

nav span a:link,
nav span a:visited,
nav span a:hover,
nav span a:focus,
nav span a:active {
    text-decoration: none;
}

nav span a:focus {
    color: #08c;
}