html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

div.card-container {
    margin: 20px;
}

nav {
    background-color: #f5f5f5;
    margin: 12px;
}

nav span {
    margin: 6px;
}

span.empty-credential-mark {
    color: #d9534f;
}

input[type=text].empty,
input[type=password].empty {
    border: 1px solid #d9534f;
}

span.logout-link {
    margin-left: 25px;
}